<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title><?= isset($title)? $title.' -' : '' ?> Movies List | Quikdev test</title>

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

	<link href="<?= $this->assets('css', 'main.css') ?>" rel="stylesheet" type="text/css" />
</head>
<body>
	<header>
		<div class="container">
			<div class="row">
				<div class="col-sm">
					<h1 style="display: inline-block"><?= isset($title)? $title:'' ?></h1>
				</div>
				<div class="col-sm" style="text-align: right">
					<h2 style="display: inline-block"> Movies List | Quikdev test </h2>
				</div>
			</div>
			<hr>
		</div>
	</header>
	<main>
		<div class="container">
			<?= $this->content() ?>
		</div>
	</main>
	<footer>
		<div class="container" style="text-align: center">
			<hr> <hr> <hr>
			<small>Movies List | Quikdev test by Eduardo Azevedo</small>
		</div>
	</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="<?= $this->assets('js', 'main.js') ?>" ></script>
</body>
</html>
