<?php
	$this->set('title', 'Home');
	$this->wrapper('_wrapper');
?>
<div class="jumbotron">
	<form class="form-inline">
		<label class="my-1 mr-2" id="searchBy">Search by:
			<select class="custom-select my-1 mr-sm-2" name="searchby">
				<option value="name" <?php if ($_GET['searchby']=='name') print('selected'); ?>>Name</option>
				<option value="genre" <?php if ($_GET['searchby']=='genre') print('selected'); ?>>Genre</option>
			</select>
		</label>

		<label class="my-1 mr-2" id="searchByName">Name:
			<input type="text" class="form-control my-1 mr-sm-2" name="name" placeholder="Movie name" value="<?php
				if (isset($_GET['name'])) echo $_GET['name'];
			 ?>">
		</label>

		<label class="my-1 mr-2" id="searchByGenre">Genre:
			<select class="custom-select my-1 mr-sm-2" name="genre">
				<option value="">All</option>
			<?php
			foreach ($genres as $genre)
				echo "<option value=\"{$genre['id']}\"", isset($_GET['genre'])&&$_GET['genre']==$genre['id']?' selected':'' ,">
						{$genre['name']}
					</option>";
			?>
			</select>
		</label>
		<button type="submit" class="btn btn-primary my-1">Search</button>
	</form>
</div>

<?php
	foreach ($movies as $movie):
?>
<div class="movie_block">
	<a href="<?= $this->url('movie/'.$movie['id']) ?>" target="_self">
		<img src="<?= $movie['poster'] ?>">
	</a>
	<strong><?= $movie['name'] ?></strong>
	&nbsp <small>(<?= $movie['release'] ?>)</small><br>
	<p><?= $movie['overview'] ?></p>
	<p><?= $movie['genre'] ?></p>
</div>
<?php
	endforeach;
?>

