<?php
	$this->set('title', $movie['title']);
	$this->wrapper('_wrapper');
?>
<a class="badge badge-info" style="float:right" href="<?= $this->url('/') ?>">Return home</a>
<div class="movie_block">
	<a href="<?= $this->url('movie/'.$movie['id']) ?>" target="_self">
		<img src="<?= $movie['poster'] ?>">
	</a>
	<h3 style="display: inline"><?= $movie['title'] ?></h3> &nbsp <sup>(<?= $movie['release'] ?>)</sup><br>
	<h4><?= $movie['tagline'] ?></h4>
	<p><?= $movie['overview'] ?></p>
	<p><?= $movie['genres'] ?></p>
</div>

