<?php
	$this->set('title', 'Page Not Found');
	$this->wrapper('_wrapper');
?>
<p>
	The page you are looking for could not be found. Check the address bar
	to ensure your URL is spelled correctly. If all else fails, you can
	visit our home page at the link below.
</p>
<a href="/">Visit the Home Page</a>
